.nft-card {
  width: 15vw;
  margin: 0 1em 1em 0;
  img {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 0.5em;
  }

  h3,
  h2 {
    color: white;
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
    color: white;
    margin-bottom: 0.5em;
  }

  span {
    color: var(--green-color);
  }
}

@media (min-width: 1440px) {
  .nft-card {
    width: 12vw;
  }

  h3,
  h2 {
    font-size: 0.9em;
  }
}
